.ui-change-btn {
  cursor: pointer;
  display: flex;
  position: fixed;
  margin-left: 84%;
  margin-bottom: 33px;
  margin-top: -12%;
  padding: 7px 25px;
  z-index: 4;
  color: #fff;
  background: #624f4f;
}
